@import "~open-color/open-color";

.main-template {
  background: $oc-gray-1;
  display: flex;
  flex-direction: column;
  margin: 32px auto;
  min-height: 512px;
  width: 768px;
  h1 {
    margin: 0;
    padding: 16px 0;
    text-align: center;
  }
  .game-box {
    border: 2px solid $oc-gray-6;
    margin: 0 64px;
    padding: 32px;
  }
}
