@import "~open-color/open-color";

.othello {
  display: flex;
  flex-direction: row;
  table {
    border: 2px solid $oc-gray-7;
    border-collapse: collapse;
    margin: auto;
    tbody {
      tr {
        height: 32px;
        td {
          border: 1px solid $oc-gray-7;
          padding: 0;
          pointer-events: none;
          width: 32px;
        }
        .place-able {
          background: $oc-gray-5;
          pointer-events: unset;
        }
      }
    }
  }
  .score-board {
    width: 160px;
    .game-result {
      margin-top: 32px;
    }
  }
}
