@import "~open-color/open-color";

.othello {
  table {
    border-collapse: collapse;
    margin: auto;
    border: 2px solid $oc-gray-7;
    tbody {
      tr {
        height: 32px;
        td {
          width: 32px;
          padding: 0;
          border: 1px solid $oc-gray-7;
        }
      }
    }
  }
}
